.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    .title {
        width: 2em;
        margin-left: 8px;
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        color: grey;
    }
    .title:hover {
        color: rgb(97, 97, 97);
    }
}