.profile {
    width: 104px;
    margin: 0 8px;
    flex: 0 0 120px;
    display: inline-flex;
    .name {
        width: 86px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 8px;
        color: grey;
    }
}